body {
width: 100%;
}

.navbar {
    font-family: 'Nunito Sans', sans-serif;
}

.nav-link {
    text-transform: uppercase;
}

.bg-dark {
    background-color: transparent !important;
    transition: 500ms ease;
}

.bg-dark.scrolled {
    background-color: black !important;
}

.jumbotron {
    background-position: center;
    background-image: url("img/hero-blur.jpg");
    background-size: cover;
    height: 100vh;
}

.container-fluid {
    padding-top: 15%;
}

h1 {
    color: white;
} 
h2 {
    color: white;
}

h3 {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

.lead {
    color: white;
}

.btn-lg {
    transition: all 1s;
}

.btn-lg:hover {
    transform: scale(1.1);
}

.bio-img {
    width: 70%;
    height: 50%;
    border-radius: 3px;
}

.bio-header {
    border-bottom: solid 2px #28a745;
    margin-bottom: 15px;
}

.card {
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1);
}

#contact {
    background-color: black;
}