body {
    padding-top: 56px;
}

.jumbotron {
    /*background: url("img/hero.jpg") no-repeat center;*/
    background-position: center;
    background-image: url("img/hero-blur.jpg");
    background-size: cover;
    height: 100vh;
    /* opacity: 0.5; play around with it and make text exempt from opacity
    filter: alpha(opacity=50); For IE8 and earlier */
}

.container-fluid {
    margin-top: 15%;
}

h1 {
    color: white;
} 

.lead {
    color: white;
}

.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}