body {
width: 100%;
}

html {
    font-size: 1rem;
}

h1 {
    color: white;
    font-size: 0.4rem;
} 

h2 {
    color: white;
}

h3 {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}


/* ---------  NAV BAR --------- */

.navbar {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand {
    font-size: 1rem;
}

.nav-link {
    text-transform: uppercase;
}

.bg-dark {
    background-color: transparent !important;
    transition: 500ms ease;
}

.bg-dark.scrolled {
    background-color: black !important;
}

/* -------- HERO SECTION --------- */

.jumbotron {
    background-position: center;
    background-image: url("img/hero-blur.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
}

.container-fluid {
    padding-top: 25%;
}

.lead {
    color: white;
}

.btn-lg {
    transition: all 1s;
}

.btn-lg:hover {
    transform: scale(1.1);
}

/* ------- ABOUT ME --------- */

.bio-img {
    width: 70%;
    height: 50%;
    margin: 50px 0px 50px 50px;
    border-radius: 3px;
    box-shadow: 20px 20px 10px #e6e6e6;
    border: solid 2px  #cccccc;
}

.bio-header {
    border-bottom: solid 2px #28a745;
    margin-bottom: 15px;
}

/* -------- SERVICES SECTION ---------- */

.card {
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1);
}

#contact {
    background-color: black;
}
  
@media screen and (min-width: 570px) {
    .jumbotron {
        padding-top: 15px;
    }
    .display-4 {
        font-size: 4.5rem;
    } 
    .navbar-brand {
        font-size: 1rem;
    }
    .nav-item {
        text-align: right;
    }
}

@media screen and (min-width: 770px) {
    .jumbotron {
        padding-top: 0px;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
    .bio-img {
        margin: 0px;
    }
    .container-fluid {
        padding-top: 15%;
    }
}
 